
* {
	box-sizing: border-box
}

body {
	margin: 0;
	font-family: 'Roboto Slab', serif;
	color: #777;
}

h1 {
	font-size: 4em;
	text-transform: uppercase;
}

h3 {
	font-size: 1.2em;
}


h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	color: #333;
}

section {
	padding: 60px 0;
}

section header {
	margin-bottom: 70px;
}

section .section-heading {
	text-transform: uppercase;
	margin-bottom: 25px;
}

section .section-description {
	font-family: 'Droid Serif', sans-serif;
	color: #777;
}

.social-icons a {
	height: 40px;
	width: 40px;
	display: inline-block;
	line-height: 40px;
	background-color: #222;
	border: 1px solid #222;
	border-radius: 50%;
	font-size: 1.8em;
	color: #fff;
	transition: all .3s;
	margin: 5px;
	text-align: center;
}

.social-icons a:hover {
	background-color: #0ed8d6;
	border: 1px solid #0ed8d6;
}

a.btn-blue, .btn-blue {
	background-color: #0ed8d6;
	border: 1px solid #0ed8d6;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	color: #fff;
	transition: all .3s;
	padding: 15px 30px;
	
}

a.btn-blue:hover, .btn-blue:hover {
	background-color: #fff;
	border: 1px solid #0ed8d6;
	color: #0ed8d6;
	
}