#main-header {
	height: 100vh;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/header/pictures_on_the_wall.jpg);
	background-size: cover;
	position: relative;
}

#main-header .header-caption {
	@include absolute-center;
	text-align: center;
}

#main-header .header-caption h1 {
	color: #fff;
	margin: 45px 0;
}

#main-header .header-caption h2 {
	color: #fff;
	font-family: 'Droid Serif', sans-serif;
	font-size: 2.5em;
}

