/*FONTS*/
$primary-font: 'Roboto Slab', serif;
$secondary-font: 'Droid Serif', sans-serif;
$headers-font: 'Montserrat', sans-serif;

/*COLORS*/
$primary-color: #777;
$secondary-color: #0ed8d6;
$headers-color: #333;

